In [2]:
# Create a 2-by-2 matrix
my.data.frame <- as.data.frame(matrix(nr=5,nc=5))
my.data.frame

  V1 V2 V3 V4 V5
1 NA NA NA NA NA
2 NA NA NA NA NA
3 NA NA NA NA NA
4 NA NA NA NA NA
5 NA NA NA NA NA

In [3]:
# Name the columns in R
colnames(my.data.frame) <- c("X1", "X2","X3", "X4","X5")
my.data.frame

  X1 X2 X3 X4 X5
1 NA NA NA NA NA
2 NA NA NA NA NA
3 NA NA NA NA NA
4 NA NA NA NA NA
5 NA NA NA NA NA

In [4]:
# Insert data into the data frame
my.data.frame[1,1] <- 0
my.data.frame

  X1 X2 X3 X4 X5
1  0 NA NA NA NA
2 NA NA NA NA NA
3 NA NA NA NA NA
4 NA NA NA NA NA
5 NA NA NA NA NA

In [5]:
# Take the head of the data frame
head(my.data.frame)

  X1 X2 X3 X4 X5
1  0 NA NA NA NA
2 NA NA NA NA NA
3 NA NA NA NA NA
4 NA NA NA NA NA
5 NA NA NA NA NA

In [6]:
# Swap columns of the data frame
my.data.frame <- my.data.frame[,c(2,1,3,4,5)]
my.data.frame

  X2 X1 X3 X4 X5
1 NA  0 NA NA NA
2 NA NA NA NA NA
3 NA NA NA NA NA
4 NA NA NA NA NA
5 NA NA NA NA NA

In [7]:
# Populate an entire row of the data frame
my.data.frame[1:5,1:5] <- 1
my.data.frame

  X2 X1 X3 X4 X5
1 1  1  1  1  1
2 1  1  1  1  1
3 1  1  1  1  1
4 1  1  1  1  1
5 1  1  1  1  1